@model List<DPR_DataMigrationEngine.EF.Models.Product>

<form action="@Url.Action("AddProduct", "Product")" id="fsProcessProducts" class="fsEdit" style="display: none; visibility: visible">
    <span class="legend22" id="lgEditProduct" style="width: 100%">Add New Product</span>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table style="width: 100%; border: none">
        <tr>
            <td >
                <div style="width: 100%; font-weight: normal; font-size: 12pt; display: none; visibility: visible" class="error label" id="brEdErrorProduct"></div>
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <div style="margin-left: 5px"><i style="width: auto">Product Name:</i><span style="color: red">*</span><span class="field-validation-valid" id="sptxtProductName" data-valmsg-for="product.Name" style="color: red" data-valmsg-replace="true">Required</span></div>
                <input type="text" name="product.Name" id="txtProductName" class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="form-group">
                <div style="margin-left: 5px"><i style="width: auto">Description:</i>@*<span style="color: red">*</span><span class="field-validation-valid" id="sptxtDescription" data-valmsg-for="product.Description" style="color: red" data-valmsg-replace="true">Required</span>*@</div>
                <textarea style="height: 45px" name="product.Description" id="txtDescription" class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <td style="width: 100%">
                <div>&nbsp;</div>
                <div style="width: 100%">
                    <input type="button" id="btnCloseProcessProduct" style="border: none; float:right; width: 110px" class="btn btnClose large" value="Close" />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="submit" id="btnProcessProduct" class="btn btnSave large" style=" border: none; float: right; width: 110px" value="Submit" />
                </div>
            </td>
        </tr>
    </table>
</form>

<fieldset id="fsProductList" style="background: whitesmoke; width: 100%" class="allcontent">
    <legend class="customlegend22" id="lgHeader">@ViewBag.Title</legend>
    <label id="brProcess" style="display: none; visibility: visible"></label>
    <table style="width: 100%; background: whitesmoke; border: 1px solid gainsboro; top: 10%">
        <tr>
            <td style="width: 80%">
                <div style="width: 100%; font-weight: normal; font-size: 10pt; display: none; visibility: visible" id="brFeedbackProduct"></div>
            </td>
            <td style="width: 20%">
                <div style="width: 100%">
                    <input type="button" id="btnAddNewProduct" onclick="prepareProductTemplate()" value="Add New Product" class="btn btnAdd large" style="width: 190px; float: right" />
                </div>
            </td>
        </tr>
    </table>
    <table id="tblProductes" style="width: 100%" class="fils-border newTable">
        <tr class="customGridHeader">
            <th style="width: 7%; text-align: center">
                S/N
            </th>
            <th style="width: 43%; text-align: left">
                Product
            </th>
            <th style="width: 40%; text-align: left">
                Description
            </th>
            <th style="width: 10%">
                Action
            </th>
        </tr>
        @{
            for (var i = 0; i < Model.Count(); i++)
            {
                var zxz = Model[i];

                <tr id="tr@(zxz.ProductId)" class="xtcR" style="color: black;">
                    <td style="width: 7%; text-align: center" class="xtc">
                        @(i + 1)
                    </td>
                    <td style="width: 43%; text-align: left" id="tdName">
                        @zxz.Name
                    </td>
                    <td style="width: 40%; text-align: left" id="tdDescription">
                        @zxz.Description
                    </td>
                    <td style="width: 10%">
                        <a class="prodEdTx" title="Edit" id="ed@(zxz.ProductId)" onclick="prodEdTx(this.id);"><img src="~/Images/edit.png" alt="Edit" /></a>&nbsp;&nbsp;<a class="prodDelTx" title="Delete" id="del@(zxz.ProductId)" onclick="prodDelTx(this.id);"><img src="~/Images/delete_opt(1).png" alt="Delete" /></a>
                    </td>
                </tr>
            }
        }
    </table>
</fieldset>

<script type="text/javascript">

    $(window).load(function () {
        //$('#tblProductes .xtcR:even').addClass('gridItem1');
    });

    function feedBackStatus(x, z) {
        var dx = parseInt(x);

        if (dx === 0 || dx === 2 || dx === -3 || dx === -1) {
            $("#brFeedbackProduct").text(z);
            $("#brFeedbackProduct").removeClass('success');
            $("#brFeedbackProduct").addClass('error');
            $("#brFeedbackProduct").fadeIn();
        }

        if (dx === 1) {
            $("#brFeedbackProduct").text(z);
            $("#brFeedbackProduct").removeClass('error');
            $("#brFeedbackProduct").addClass('success');
            $("#brFeedbackProduct").fadeIn();
        }
    }

    $(document).ready(function () {
        toggleValidators('fsProcessProducts');

        $('#btnCloseProcessProduct').on("click", function ()
        {
            $('#brEdErrorProduct').text('');
            $('#brEdErrorProduct').hide();
            closePopModal($('#fsProcessProducts'));
        });

        $("#fsProcessProducts").submit(function (e) {
            e.preventDefault();
            $('#brEdErrorProduct').text('');
            $('#brEdErrorProduct').hide();
            if (!validateTemplate('fsProcessProducts')) {
                return;
            }

            var data = $(this).serialize();

            if ($('#brProcess').text() === "1") {
                var url = $(this).attr('action');
                //submit
                $.post(url, data, function (x) {
                    refresh(x);
                });
            }

            if ($('#brProcess').text() === "2") {
                //update
                upDateQ();
            }

        });

    });

    var rtx = '';

    function prodEdTx(x) {
        $('#brProcess').text('');
        $('#brEdErrorProduct').text('');
        $('#brEdErrorProduct').hide();
        var xxid = parseInt(x.replace('ed', ''));
        if (xxid < 1) {
            alert("Invalid Selection!");
            return;
        }
        rtx = xxid;
        var url = '/Product/EditProduct?id=' + xxid;

        $.get(url, function (data) { edGet(data); });

    }

    function edGet(data) {

        if (data.ErrorCode < 1) {
            //Data could not be retrieved/Database operation failed/An unknown error was encountered
            feedBackStatus(data.ErrorCode, data.Error);
            return;
        }

        refreshForm('fsProcessProducts', 'Update');
        $('#fsProcessProducts').attr("action", "/Product/EditProduct");
        $('#txtProductName').val(data.Name);
        $('#txtDescription').val(data.Description);
        $('#lgEditProduct').text('Update Product');
        $('#brProcess').text(2);
        setModal($('#fsProcessProducts'));
    }

    function prodDelTx(x) {
        $('#brEdErrorProduct').text('');
        $('#brEdErrorProduct').hide();
        var xxid = parseInt(x.replace('del', ''));
        if (xxid < 1) {
            alert("Invalid Selection!");
            return;
        }

        $.ajax({
            beforeSend: function () { return confirm('Are you sure you want to delete this item?'); },
            url: "/Product/DeleteProduct?id=" + xxid,
            type: 'POST',
            success: function (i) {
                if (i.ErrorCode < 1) {
                    ///Database operation failed/Data could not be deleted
                    feedBackStatus(i.ErrorCode, i.Error);
                    return;
                }

                $('#tblProductes #tr' + xxid).remove();

                $('#tblProductes tr.xtcR').each(function (r) {
                    $(this).children('.xtc').text(r + 1);
                });
                $('#tblProductes .xtcR:even').addClass('gridItem1');
            }
        });
        return;
    }

    function prepareProductTemplate() {
        refreshForm('fsProcessProducts', '');
        $('#fsProcessProducts').attr("action", "/Product/AddProduct");
        $('#brProcess').text(1);
        setModal($('#fsProcessProducts'));
    }

    function upDateQ() {
        var frm = $('#fsProcessProducts');
        var url = frm.attr('action');
        var data = frm.serialize();
        $.ajax({
            async: true,
            type: "POST",
            url: url,
            data: data,
            success: function (r) {
                updateTable(r);

            }
        });
    }

    function updateTable(r) {

        if (r.ErrorCode === -1 || r.ErrorCode === -2 || r.ErrorCode === 0 || r.ErrorCode === -3)
        {
            //Record could not be added/Duplicates found/a Backend validation failed
            $('#brEdErrorProduct').text(r.Error);
            $('#brEdErrorProduct').fadeIn('slow');
            return;
        }
        
        if (r.ErrorCode === 0) {
            //Session has expired/Unknown Error was encountered => when an Exception was caught/Database operation failed
            feedBackStatus(r.ErrorCode, r.Error);
            return;
        }

        $('#tblProductes #tr' + rtx).children('#tdName').html(r.Name);
        $('#tblProductes #tr' + rtx).children('#tdDescription').html(r.Description);
        //$('#tblProductes .xtcR:even').addClass('gridItem1');

        //Successfull operation
        feedBackStatus(r.ErrorCode, r.Error);
        $('#brProcess').text(0);
        closePopModal($('#fsProcessProducts'));
    }

    function refresh(r) {

        if (r.ErrorCode === -1 || r.ErrorCode === -2 || r.ErrorCode === 0 || r.ErrorCode === -3) {
            //Record could not be added/Duplicates found/a Backend validation failed
            $('#brEdErrorProduct').text(r.Error);
            $('#brEdErrorProduct').fadeIn('slow');
            return;
        }
        
        if (r.ErrorCode === 0) {
            //Session has expired/Unknown Error was encountered => when an Exception was caught/Database operation failed
            feedBackStatus(r.ErrorCode, r.Error);
            return;
        }

        var bv = $('#tblProductes tr').length - 1;

        $("#tblProductes tbody:last").append($('<tr class="xtcR" id="tr' + r.ProductId + '"><td style="width: 7%;text-align: center" class="xtc">' + (bv + 1) + '</td><td style="width: 43%"  id="tdName">' + r.Name + '</td><td style="width: 40%"  id="tdDescription">' + r.Description + '</td><td style="width: 10%"><a class="prodEdTx" title="Edit" id="ed' + r.ProductId + '" onclick="prodEdTx(this.id);"><img src="/Images/edit.png" style="cursor: pointer" alt ="Edit"/></a>&nbsp;&nbsp;<a class="prodDelTx" title="Delete" id="del' + r.ProductId + '" ><img src="/Images/delete_opt(1).png" alt="Delete" style="cursor: pointer"/></a></td></tr>'));

        //Successfull operation
        $('#tblProductes .xtcR:even').addClass('gridItem1');
        feedBackStatus(r.ErrorCode, r.Error);
        $('#brProcess').text(0);
        closePopModal($('#fsProcessProducts'));
    }
</script>

