
@using DPR_DataMigrationEngine.HTMLExtensionHelpers
@model DPR_DataMigrationEngine.ViewModels.ProductionViewModel

@{
    ViewBag.Title = "Production Report";
}


<form style="width: 100%" method="POST" id="productionRepoFrm" action="@Url.Action("GetProductionsByQueryDateDate", "Production")">
    <table style="width: 100%">
        <tr>
            <td colspan="3">
                <label style="font-weight: normal; font-size: 10pt; float: left; width: 100%; ">Retrieve Well Completion Reports by Period:</label>
                @*<input type="hidden" value="@ViewBag.SearchMonth"/>
                    <input type="hidden" value="@ViewBag.SearchYear" />*@
            </td>
        </tr>
        <tr>
            <td class="form-group" style="width: 35%">
                <div style="margin-left: 2%"><i style="width: auto">Year: </i> </div>
                <select class="form-control" name="search.Year" id="ddlProdYearRepo">
                    @{
                        var yearExtensions = new ExtensionHelpers().ListOption(Model.YearList, "DocId", "DocName", "-- Select Year --");

                        foreach (var year in yearExtensions.Select(yearString => Html.Raw(yearString)))
                        {
                            @year
                        }
                    }
                </select>
            </td>
            <td class="form-group" style="width: 35%">
                <div style="margin-left: 2%"><i style="width: auto">Month: </i> </div>
                <select class="form-control" name="search.Month" id="ddlMonthCompRepo">
                    @{
                        var monthExtensions = new ExtensionHelpers().ListOption(Model.MonthList, "DocId", "DocName", "-- Select Month --");

                        foreach (var month in monthExtensions.Select(monthString => Html.Raw(monthString)))
                        {
                            @month
                        }
                    }
                </select>

            </td>
            <td style="width: 20%">
                <div>&nbsp;</div>
                <input type="submit" name="searchDate" class="btn large btnSearch" onclick="return verifyProductionSearchMonth()" style="width: 130px; border: 1px solid green; float: left" value="Search" />
            </td>
            <td style="padding-right:0; width: 5%"><div>&nbsp;</div><div>&nbsp;</div>
                <a onclick="tableToExcel('tblStatProductions', 'Production Report')"><img src="/Images/export2Excel2.jpg" style="float: right; margin-right: -2%; cursor: pointer" title="Export to Excel" /></a>
            </td>
            <td style="width: 10%"><div>&nbsp;</div><div>&nbsp;</div>
                <img src="/Images/printer-24_opt.png" style="float: left; cursor: pointer; padding-bottom: 7px" alt="Print Report" title="Print Report" onclick="printProductionStatReport()" />
            </td>
        </tr>
    </table>
</form>



<table style="width: 100%">
    <tr>
        <td style="padding-right:0; width: 90%"></td>
        
    </tr>
</table>


<div style="width: 100%;">
    <fieldset id="fsProductionList" style="background: whitesmoke; width: 100%" class="allcontent">
        <legend class="customlegend22" id="lgHeader">Production Report Data @*:&nbsp; <span id="spreportDateTitle">@ViewBag.SearchPeriod</span>*@</legend>
        <table id="tblStatProductions" style="width: 100%" class="fils-border newTable">
            <tr class="customGridHeader">
                <th style="width: 3%; text-align: center">
                    S/N
                </th>
                <th style="width: 15%; text-align: left">
                    Company
                </th>
                <th style="width: 10%; text-align: left">
                    Field
                </th>
                <th style="width: 10%; text-align: left">
                    Block
                </th>
                <th style="width: 7%; text-align: left">
                    Product
                </th>
                <th style="width: 10%; text-align: left">
                    Quantity(Barrels)
                </th>
                <th style="width: 10%; text-align: left">
                    Terrain
                </th>

                <th style="width: 7%; text-align: left">
                    Zone
                </th>
                <th style="width: 17%; text-align: left">
                    Production Period
                </th>
                <th style="width: 10%; text-align: left">
                    Remarks
                </th>
            </tr>
            @{
                for (var i = 0; i < Model.ProductionObjects.Count(); i++)
                {
                    var zxz = Model.ProductionObjects[i];
                    <tr id="tr@(zxz.ProductionId)" class="xtcR" style="color: black;">
                        <td style="width: 5%; text-align: center" class="xtc">
                            @(i + 1)
                        </td>
                        <td style="width: 15%; text-align: left" id="tdProdName">

                            @zxz.CompanyName
                        </td>
                        <td style="width: 10%; text-align: left" id="tdProdName">

                            @zxz.FieldName
                        </td>
                        <td style="width: 10%; text-align: left" id="tdProdName">
                            @zxz.BlockName
                        </td>
                        <td style="width: 7%; text-align: left" id="tdProdName"> 

                            @zxz.ProductName   
                        </td>
                        <td style="width: 7%; text-align: left" id="tdProdName">

                            @zxz.Quantity
                        </td>
                        <td style="width: 10%; text-align: left" id="tdProdFieldName">
                            @zxz.TerrainName
                        </td>
                        <td style="width: 7%; text-align: left" id="tdProdQuantity">
                            @zxz.ZoneName
                        </td>
                        <td style="width: 17%; text-align: left" id="tdProdMonth">
                            @zxz.Periodstr
                        </td>
                        <td style="width: 10%; text-align: left" id="tdProdRemark">
                            @zxz.Remark
                        </td>
                    </tr>
                }
            }
        </table>

    </fieldset>
</div>

<img src="/Images/select2-spinner.gif" id="imgProdRepoSpin" class="spinProgress2" />

<script type="text/javascript">
    function printProductionStatReport() {
        if ($('#tblStatProductions').html() == null)
        {
            alert('Nothing to Print');
            return;
        }
        printReportData('fsProductionList');
    }

    $(window).load(function () {

        //$(".page-button").click(function () {
        //    if (!$(this).hasClass('current')) {
        //        window.location.href = "http://" +
        //            window.location.host + window.location.pathname +
        //            '?page=' + $(this).val() + '&pageSize=' + 40;
        //    }
        //});
    });

    $(".page-button").click(function () {
        if (!$(this).hasClass('current')) {

            window.location.href = "http://" +
                window.location.host + window.location.pathname +
                '?page=' + $(this).val() + '&pageSize=' + 50;

        }
    });
    

    function verifyProductionSearchMonth()
    {
        var year = parseInt($('#ddlProdYearRepo').val());
        if (year < 1)
        {
            alert('Please select a report year.');
            return false;
        }
        return true;
    }
    
    $(function () {
        $(window).scroll(function ()
        {
            if ($(window).scrollTop() >= $(document).height() - $(window).height() - 180) {

                var tblHeight = $('#tblStatProductions');

                if (tblHeight.height() < 500)
                {
                    $("#imgProdRepoSpin").hide();
                    return;
                }

                var url = '/Production/GetMoreStaticProductionReports';
                $("#imgProdRepoSpin").show();
                $.ajax({
                    url: url,
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    success: function (zxz) {
                        if (zxz === null)
                        {
                            $("#imgProdRepoSpin").hide();
                        } else
                        {
                            $.each(zxz, function (i, r)
                            {
                                refreshProdRepo2(r);
                            });
                            $("#imgProdRepoSpin").hide();
                        }
                    }
                });
            }
        });
    });

    function refreshProdRepo2(r) {

        var bv = $('#tblStatProductions tr').length - 1;

        var remark = '';
        
        if (r.Remark === null || r.Remark.length < 1) {
            remark = " ";
        } else {
            remark = r.Remark;
        }

        $("#tblStatProductions tbody:last").append($(

                   '<tr class="xtcR" style="color: black;">'
                   + '<td style="width: 5%; text-align: center" class="xtc">'
                    +    (bv + 1)
                    + '</td>'
                   + ' <td style="width: 15%; text-align: left" id="tdProdName">'
                     +  r.CompanyName
                    + '</td>'
                   + ' <td style="width: 10%; text-align: left" id="tdProdName">'

                    +  r.FieldName
                   + ' </td>'
                    + '<td style="width: 10%; text-align: left" id="tdProdName">'
                     +  r.BlockName
                   + ' </td>'
                   + ' <td style="width: 7%; text-align: left" id="tdProdName"> '

                       +  r.ProductName
                    + '</td>'
                    + '<td style="width: 7%; text-align: left" id="tdProdName">'

                      +  r.Quantity
                    + ' </td>'
                    + ' <td style="width: 10%; text-align: left" id="tdProdFieldName">'
                     +  r.TerrainName
                    + ' </td>'
                    + ' <td style="width: 7%; text-align: left" id="tdProdQuantity">'
                     +  r.ZoneName
                    + ' </td>'
                    + ' <td style="width: 17%; text-align: left" id="tdProdMonth">'
                     + r.Periodstr
                    + ' </td>'
                    + ' <td style="width: 10%; text-align: left" id="tdProdRemark">'
                     + remark
                    + ' </td>'
                + ' </tr>'));

    }

</script>
