
@{
    ViewBag.Title = "Well Bulk Upload";
}


<style type="text/css">
    a#ancClose:link, a#ancClose:visited, a#ancClose:active, a#ancClose:hover
     {
        text-decoration: none;
        background: url(/Images/cancel.png) 80px no-repeat green;
        -ms-background-size: 18px 18px;
        background-size: 18px 18px;
        color: #FFF;
        cursor: pointer;
        border: none;
    }
</style>

@{

    if (ViewBag.ErrorCode < 0)
    {
        var td = @Html.Raw(ViewBag.ErrorMessage);
        <label style="font-weight: normal; color: black;"> @td </label>

    }

    if (ViewBag.ErrorCode > 0)
    {
        var td = @Html.Raw(ViewBag.ErrorMessage);
        <label style="font-weight: normal; color: green;">@td</label>

    }
}


<table style="width: 50%">
    <tr>
        <td style="width: 90%">
            <form class="fsEdit" method="POST" action="@Url.Action("WellUpload", "Well")" enctype="multipart/form-data" id="frmProcessDocs" style="width: 100%">
                <span class="legend22" style="width: 100%">Well Bulk Upload</span>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <table style="width: 100%; background: whitesmoke; border: none;margin-top:0">
                    <tr>
                        <td colspan="2">
                            <div style="width: 100%; font-weight: bold; font-size: 8pt; display: none; visibility: visible" class="error label" id="brEdErrorBulk"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="form-group">
                            <div>&nbsp;</div>
                            <br /><i style="width: auto">Select Excel Data File *</i>
                            <input id="fldDocument" type="file" name="file" style="width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div>&nbsp;</div>
                            <div style="width: 100%;">
                                <div style="text-align: center; float: right; margin-top: 1%">
                                    <a id="ancClose" style="border: none; float:right; width: 110px" class="btn btnClose large" href="/Well/Wells"> Close</a> &nbsp; &nbsp; &nbsp;
                                </div>
                                    <input type="submit" id="btnProcessBulkUpload" class="btn btnUpload large" style=" border: none; float: right; width: 110px" value="Upload" onclick="return valIdateTemplate();" />
                                </div>
                        </td>
                    </tr>
                </table>
            </form> 
        </td>
        <td style="width:10%; padding-right: 8px; vertical-align: top; text-align: center">
            <div style="text-align: center; float: right">
                <a title="Download Bulk Upload Template" style="cursor:pointer" href="@("/Well/DownloadContentFromFolder?path=" + "~/BulkTemplate/WellTemplate.xlsx")"><img src="/Images/downloadExcel.png" alt="download Bulk Upload Template" style="width: 40px; height: 40px" /></a>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    
    function valIdateTemplate() {
        if ($('#fldDocument').val().trim().length < 1)
        {
            alert("Please Select an Excel file to upload!");
            $('#fldDocument').val('');
            return false;
        }

        //if (!validateTemplate('frmProcessDocs'))
        //{
        //    $('#brEdErrorBulk').text('Validation failed. Please check the input fileds and try again')
        //        .fadeIn();
        //    return false;
        //}
        return true;
        // $('#btnProcessBulkUpload').unbind('click').click();
    }
    

    $('#ddlBulkCompanies').on('change', function ()
    {
        $('#brEdErrorBulk').text('');
        $('#brEdErrorBulk').fadeOut('slow');
        var rxv = parseInt($(this).val());

        if (rxv < 1)
        {
            alert('Invalid selection');
            return;
        }

        var url = '/Well/GetBlocksByField?fieldId=' + rxv;

        $.get(url, function (retVal)
        {
            populateBulkDropdown(retVal);
        });

    });

    function populateBulkDropdown(data)
    {
        if (data == null || data.length < 1)
        {
            $('#brEdErrorBulk').text("Block list for the selected Company could not be retrieved");
            $('#ddlBulkBlocks').html('<option value="0"> -- List is empty -- </option>');
            $('#ddlBulkBlocks').prop('disabled', true);
            $('#brEdErrorBulk').fadeIn('slow');
            return;
        }
        $('#ddlBulkBlocks').empty();
        $('#ddlBulkBlocks').html('<option value="0"> -- Select Block -- </option>');
        $.each(data, function (i, v) {
            if (v.BlockId < 1) {
                $('#ddlBulkBlocks').empty();
                $('#ddlBulkBlocks').html('<option value="0"> -- List is empty -- </option>');
                $('#ddlBulkBlocks').prop('disabled', 'disabled');
                alert('An error was encountered while compiling the Block list. Process has been terminated');
                return;
            }

            $('#ddlBulkBlocks').append($("<option />").val(v.BlockId).text(v.Name));
        });

        $('#ddlBulkBlocks').prop('selectedIndex', 0);
        $('#ddlBulkBlocks').prop('disabled', false);
    }
</script>