@model List<DPR_DataMigrationEngine.EF.Models.ProjectMileStone>
<style type="text/css">
    .ProjectMilestoneSingleEdTx {
    }

    .projectMilestoneSingleDelTx {
    }
   
    .ProjectEdTx {
    }

    .projectDelTx {
    }

    ul#dvpagingUl1 li, ul#firstLINK li {
        display: inline;
        color: maroon;
        text-decoration: none;
    }

    .disableLinks {
        pointer-events: none;
        color: maroon;
        cursor: default;
    }

    a#btnBulkUpload:link, a#btnBulkUpload:visited, a#btnBulkUpload:active, a#btnBulkUpload:hover {
        text-decoration: none;
        background: url(/Images/next.png) 110px no-repeat green;
        -ms-background-size: 18px 18px;
        background-size: 18px 18px;
        color: #FFF;
    }

    </style >


<table style="width: 100%">
    <tr>
        <td style="width: 90%; color: green; font-weight: bold">
            @ViewBag.Title
            <input type="hidden" value="@ViewBag.ProjectId" />
        </td>
    </tr>
</table>


<table style="width: 100%">
    <tr>
        <td style="width: 75%; color: green; font-weight: bold">
            <label id="brProjectMilestoneSingleProcess" style="color: green; font-size: 10pt">@ViewBag.Title</label>
        </td>
        <td style="width: 15%">
            <div style="text-align: center; float: left; margin-top: 1%;width: 100%;">
                <a id="ancClose" style="border: none; float:right; width: 180px" class="btn btnBack large" href="/Project/Reports">Back To Project Report</a>
            </div>
        </td>
    </tr>
</table>
<fieldset id="fsProjectMilestoneList" style="background: whitesmoke; width: 100%" class="allcontent">
    <legend class="customlegend22" id="lgSingleHeader">Mange Project's Milestones</legend>
    <table id="tblSingleProjectMilestones" style="width: 100%" class="fils-border newTable">
        <tr class="customGridHeader">
            <th style="width: 3%; text-align: center">
                S/N
            </th>
            <th style="width: 30%; text-align: left">
                Project Milestone
            </th>
            <th style="width: 30%; text-align: left">
                Project Milestone Parent
            </th>
            <th style="width: 12%; text-align: left">
                Date Due
            </th>
            <th style="width: 15%; text-align: left">
                Completion Status
            </th>
        </tr>
        @{
            for (var i = 0; i < Model.Count(); i++)
            {
                var zxz = Model[i];
                <tr id="tr@(zxz.ProjectMileStoneId)" class="xtcR" style="color: black;">
                    <td style="width: 3%; text-align: center" class="xtc">
                        @(i + 1)
                    </td>
                    <td style="width: 30%; text-align: left" id="tdSingleProjectMilestone">
                        @zxz.Title
                    </td>
                    <td style="width: 30%; text-align: left" id="tdSingleMilestone">
                        @zxz.ParentName
                    </td>
                    <td style="width: 12%; text-align: left" id="tdSingleProjectMilestonedDueDate">
                        @zxz.DateDueString
                    </td>
                    <td style="width: 15%; text-align: left" id="tdSingleMilestoneCompletion">
                        @zxz.MileStoneName
                    </td>

                </tr>
            }
        }
    </table>
    <br />

</fieldset>

<script type="text/javascript">

    function feedBackStatus(x, z) {
        var dx = parseInt(x);

        if (dx === 0 || dx === 2 || dx === -3 || dx === -1) {
            $("#brFeedbackSingleProjectMilestone").text(z);
            $("#brFeedbackSingleProjectMilestone").removeClass('success');
            $("#brFeedbackSingleProjectMilestone").addClass('error');
            $("#brFeedbackSingleProjectMilestone").fadeIn();
        }

        if (dx === 1) {
            $("#brFeedbackSingleProjectMilestone").text(z);
            $("#brFeedbackSingleProjectMilestone").removeClass('error');
            $("#brFeedbackSingleProjectMilestone").addClass('success');
            $("#brFeedbackSingleProjectMilestone").fadeIn();
        }
    }


</script>




